.about-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h3{
        text-align: left;
    }
    .about-bio{
        flex-basis: calc(60% - 50px);
    }
    .about-skills{
        flex-basis: 40%;
        padding-left: 50px;
        i, span{
            text-align: left;
        }
    }
    p{
        margin-top: 0;
        padding-top: 10px;
    }
}

.skills-content{
    display: flex;
    flex-wrap: wrap;
    .skill{
        display: flex;
        align-items: center;
        padding: 15px 0;
        margin: 0 auto;
        width: 50%;
        i{
            padding-right: 10px;
        }
    }
}

@media (max-width: 1200px){
    .about-content{
        .about-bio{
            flex-basis: calc(60% - 20px);
        }
        .about-skills{
            padding-left: 20px;
        }
    }
}

@media (max-width: 900px){
    .about-content{
        flex-direction: column;
        .about-skills{
            padding-left: 0;
            margin: 0 auto;
        }
        h3{
            padding: 25px 0;
            text-align: center;
    }
    }
    .skills-content{
        .skill{
            flex-direction: column;
            flex-basis: 33%;
            flex-wrap: wrap;
            i{
            padding-right: 10px;
            }
        }
    }
}

@media (max-width: 550px){
    .skills-content{
        .skill{
            flex-basis: 50%;
        }
    }
}