.contact{
    background-image: url("../assets/fabric_of_squares_gray.png");
    .contact-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form{
            width: 60%;
        }
        .social{
            width: 40%;
        }
    }
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-name{
        margin-right: 10px;
    }
    .form-email{
        margin-left: 10px;
    }
    .form-name, .form-email{
        height: 40px;
        display: block;
        width: 50%;
    }
    .form-text{
        width: 100%;
    }
    textarea{
        height: 275px;
        width: 100%;
        margin: 20px 0;
        resize: vertical;
        min-height: 275px;
        border: 2px solid $grey;
        padding-top: 5px;
    }
    input{
        border: 2px solid $grey;
        height: 100%;
        width: 100%;
        
    }
    button{
        border: 2px solid $grey;
        
    }
    form{
        width: 100%;
    }
    input, textarea {
        padding-left: 10px;
    }
}

.name-email{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.social{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    .social-media{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        li{
            padding: 10px 0;
            a{
                display: grid;
                grid-template-columns: 20% 80%;
                align-items: center;
                justify-items: start;
                &:hover i{
                    color: $dark-grey;
                }
                &:hover{
                    color: $accent;
                }
                i{
                    grid-column-start: 1;
                    grid-column-end: 2
                }
                span{
                    grid-column-start: 2;
                    grid-column-end: 3
                }
            }
            &:first-child{
                padding-top: 0;
            }
        }
    }
}

@media(max-width: 900px){
    .contact{
        .name-email{
            flex-direction: column;
        }
        .contact-container{
            flex-direction: column;
            .form{
                width: 100%;
            }
            .social{
                padding-top: 25px;
                width: 100%;
                .social-media{
                    flex-direction: row;
                    flex-wrap: wrap;
                    li{
                        width: 50%;
                    }
                }
            }
            .button{
                margin: 0 auto;
            }
        }
    }
    .form{
        .form-name{
            margin-right: 0px;
            }
        .form-email{
            margin-left: 0px;
            margin-top: 5px;
            }
        .form-name, .form-email{
            width: 100%;
            }
    }
}  

@media(max-width: 700px){
    .contact .contact-container{
        .social{
            margin: 0 auto;
            .social-media{
                flex-direction: column;
                li{
                    width: 100%;
                }
            }
        }
    }
}