.skills{
    background-image: url("../assets/fabric_of_squares_gray.png");
}

.skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .skill{
        text-align: center;
        padding: 20px 0;
        margin: 0 auto;
        width: 20%;
        span{
            display: block;
        }
    }
}