article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

body {
  margin: 0;
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

body p {
  line-height: 1.45;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  text-align: center;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 50px;
  padding: 100px 0;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

h2:after {
  content: "";
  width: 200px;
  height: 2px;
  background: #2b2b2b;
  position: absolute;
  bottom: 90px;
  left: calc(50% - 100px);
}

h2:before {
  content: "";
  width: 40px;
  height: 10px;
  background: #245C8B;
  position: absolute;
  bottom: 86px;
  left: calc(50% - 20px);
  z-index: 1;
}

h3 {
  font-size: 35px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

.button {
  background-color: #245C8B;
  color: white;
  padding: 10px;
  width: 150px;
  display: block;
  text-align: center;
}

.button:hover {
  background: #898888;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
}

section {
  padding-bottom: 100px;
}

i {
  color: #245C8B;
  font-size: 50px;
  display: block;
  text-align: center;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
}

header {
  background-color: #f5f4f2;
}

.nav {
  width: 100%;
  background-color: white;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 0;
  color: #fff;
}

.nav-links li {
  padding: 0 25px;
}

.nav-links li:nth-child(4) {
  padding-right: 0;
}

.nav-links li a {
  font-size: 22px;
  color: #2b2b2b;
}

.nav-links li a:hover {
  color: #245C8B;
}

.hero {
  background-image: url("../assets/fabric_of_squares_gray.png");
  color: #f5f4f2;
}

.hero .hero-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.hero .hero-inner .hero-text {
  width: 60%;
  color: #2b2b2b;
}

.hero .hero-inner .hero-text h1, .hero .hero-inner .hero-text h3, .hero .hero-inner .hero-text p {
  text-align: left;
  color: #2b2b2b;
}

.hero .hero-inner .headshot {
  width: 40%;
}

.hero .lower-weight {
  font-weight: 400;
}

.hero .italic {
  font-style: italic;
}

@media (max-width: 900px) {
  .hero .hero-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
  .hero .hero-inner .hero-text {
    width: 100%;
  }
  .hero .hero-inner .hero-text h1, .hero .hero-inner .hero-text h3, .hero .hero-inner .hero-text p {
    text-align: center;
  }
  .hero .hero-inner .headshot {
    padding: 25px;
    width: 50%;
  }
}

@media (max-width: 700px) {
  .hero .hero-inner .headshot {
    width: 80%;
  }
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-content h3 {
  text-align: left;
}

.about-content .about-bio {
  -ms-flex-preferred-size: calc(60% - 50px);
      flex-basis: calc(60% - 50px);
}

.about-content .about-skills {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-left: 50px;
}

.about-content .about-skills i, .about-content .about-skills span {
  text-align: left;
}

.about-content p {
  margin-top: 0;
  padding-top: 10px;
}

.skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-content .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  width: 50%;
}

.skills-content .skill i {
  padding-right: 10px;
}

@media (max-width: 1200px) {
  .about-content .about-bio {
    -ms-flex-preferred-size: calc(60% - 20px);
        flex-basis: calc(60% - 20px);
  }
  .about-content .about-skills {
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content .about-skills {
    padding-left: 0;
    margin: 0 auto;
  }
  .about-content h3 {
    padding: 25px 0;
    text-align: center;
  }
  .skills-content .skill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills-content .skill i {
    padding-right: 10px;
  }
}

@media (max-width: 550px) {
  .skills-content .skill {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.project:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

.project:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project:nth-child(odd) .project-details {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  padding-left: 0;
  padding-right: 40px;
}

.project:nth-child(odd) a {
  margin-right: 0;
  margin-left: 40px;
}

.project-screenshot {
  width: 50%;
}

.project-details {
  width: 50%;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.project-details h3 {
  padding-top: 10px;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects a {
  margin-right: 40px;
}

.projects p {
  margin: 5px 0 20px 0;
}

p.project-skills {
  margin: 0;
  color: #245C8B;
}

@media (max-width: 1200px) {
  .project {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 900px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 2px solid #f5f4f2;
  }
  .project:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project:nth-child(odd) .project-details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .project:nth-child(odd) .project-details a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .project .project-details {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 0;
  }
  .project:last-child {
    border-bottom: none;
  }
  .project a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .project:nth-child(odd) .project-details a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .project a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.contact {
  background-image: url("../assets/fabric_of_squares_gray.png");
}

.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-container .form {
  width: 60%;
}

.contact .contact-container .social {
  width: 40%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .form-name {
  margin-right: 10px;
}

.form .form-email {
  margin-left: 10px;
}

.form .form-name, .form .form-email {
  height: 40px;
  display: block;
  width: 50%;
}

.form .form-text {
  width: 100%;
}

.form textarea {
  height: 275px;
  width: 100%;
  margin: 20px 0;
  resize: vertical;
  min-height: 275px;
  border: 2px solid #f5f4f2;
  padding-top: 5px;
}

.form input {
  border: 2px solid #f5f4f2;
  height: 100%;
  width: 100%;
}

.form button {
  border: 2px solid #f5f4f2;
}

.form form {
  width: 100%;
}

.form input, .form textarea {
  padding-left: 10px;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.social .social-media li {
  padding: 10px 0;
}

.social .social-media li a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
}

.social .social-media li a:hover i {
  color: #898888;
}

.social .social-media li a:hover {
  color: #245C8B;
}

.social .social-media li a i {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.social .social-media li a span {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.social .social-media li:first-child {
  padding-top: 0;
}

@media (max-width: 900px) {
  .contact .name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-container .form {
    width: 100%;
  }
  .contact .contact-container .social {
    padding-top: 25px;
    width: 100%;
  }
  .contact .contact-container .social .social-media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contact-container .social .social-media li {
    width: 50%;
  }
  .contact .contact-container .button {
    margin: 0 auto;
  }
  .form .form-name {
    margin-right: 0px;
  }
  .form .form-email {
    margin-left: 0px;
    margin-top: 5px;
  }
  .form .form-name, .form .form-email {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .contact .contact-container .social {
    margin: 0 auto;
  }
  .contact .contact-container .social .social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-container .social .social-media li {
    width: 100%;
  }
}

footer {
  background: #245C8B;
}

footer p {
  text-align: center;
  padding: 2px 0;
  margin: 0;
  color: #fff;
}

.menu-toggle {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu-toggle span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.menu-toggle span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.menu-toggle span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.menu-toggle:checked ~ span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.menu-toggle ~ span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.menu-toggle ~ span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
/*# sourceMappingURL=styles.css.map */